	<h3>{{ campaign.name }}</h3>
	<p>{{ campaign.status }}</p>

	<h5>Form Schema</h5>
	<p>{{ form_preview_schema }}</p>

	<p>Current: {{ field_form_model }}</p>

	<div class="row">
		<div class="col-xs-6">
			<h3>Form Preview</h3>
			<form sf-schema="form_preview_schema" sf-form="form-preview-form"></form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h5>Add field to the form</h5>

			<form class="form-inline" name="fieldForm"
				  sf-schema="field_form_schema"
				  sf-form="field_form_form"
				  sf-model="field_form_model"
				  ng-submit="onSubmitFieldForm(fieldForm,'main_form')">
			</form>

		</div>
	</div>

	<h5>Emails</h5>
	<p>{{ campaign.emails }}</p>

